In [54]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [55]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-07-13 13:25:03,-21.2078,-159.7750,75.25,78,40,17.27
1,1,Lompoc,US,2021-07-13 13:25:03,34.6391,-120.4579,63.09,89,90,4.61
2,2,Thompson,CA,2021-07-13 13:25:03,55.7435,-97.8558,57.36,77,20,8.05
3,3,Calvia,ES,2021-07-13 13:25:04,39.5657,2.5062,82.42,39,5,16.93
4,4,Ushuaia,AR,2021-07-13 13:21:35,-54.8000,-68.3000,35.26,80,75,11.50

In [56]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [57]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [58]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights= temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [59]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [61]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [62]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [63]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-07-13 13:25:03,-21.2078,-159.7750,75.25,78,40,17.27
3,3,Calvia,ES,2021-07-13 13:25:04,39.5657,2.5062,82.42,39,5,16.93
5,5,Berlin,DE,2021-07-13 13:21:00,52.5244,13.4105,89.15,47,0,10.00
10,10,Buluang,PH,2021-07-13 13:25:06,13.3068,123.3425,77.76,89,100,2.84
11,11,Fukue,JP,2021-07-13 13:25:06,32.6881,128.8419,80.02,89,100,8.88
16,16,Kapaa,US,2021-07-13 13:25:08,22.0752,-159.3190,79.12,82,90,1.01
17,17,Sao Jose Do Belmonte,BR,2021-07-13 13:25:09,-7.8614,-38.7597,78.28,52,4,13.65
19,19,Saint-Philippe,RE,2021-07-13 13:25:09,-21.3585,55.7679,75.47,69,40,14.92
24,24,Nova Olimpia,BR,2021-07-13 13:25:11,-14.7972,-57.2881,82.92,30,0,4.00
33,33,Meulaboh,ID,2021-07-13 13:25:13,4.1363,96.1285,78.08,84,100,6.15

In [64]:
preferred_cities_df.count()

City_ID       227
City          227
Country       226
Date          227
Lat           227
Lng           227
Max Temp      227
Humidity      227
Cloudiness    227
Wind Speed    227
dtype: int64

In [65]:
new_data = preferred_cities_df.dropna(axis = 0, how ='any')
new_data

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2021-07-13 13:25:03,-21.2078,-159.7750,75.25,78,40,17.27
3,3,Calvia,ES,2021-07-13 13:25:04,39.5657,2.5062,82.42,39,5,16.93
5,5,Berlin,DE,2021-07-13 13:21:00,52.5244,13.4105,89.15,47,0,10.00
10,10,Buluang,PH,2021-07-13 13:25:06,13.3068,123.3425,77.76,89,100,2.84
11,11,Fukue,JP,2021-07-13 13:25:06,32.6881,128.8419,80.02,89,100,8.88
...,...,...,...,...,...,...,...,...,...,...
545,545,Sobolevo,RU,2021-07-13 13:27:41,54.4299,31.8996,86.56,43,0,6.02
546,546,Samarai,PG,2021-07-13 13:27:42,-10.6167,150.6667,79.09,86,29,16.93
548,548,Buchanan,LR,2021-07-13 13:27:42,5.8808,-10.0467,84.16,78,73,12.24
550,550,Tanhacu,BR,2021-07-13 13:27:43,-14.0214,-41.2481,75.70,53,35,8.05
552,552,Phangnga,TH,2021-07-13 13:27:44,8.4509,98.5298,85.91,87,99,3.36

In [66]:
new_data.count()

City_ID       226
City          226
Country       226
Date          226
Lat           226
Lng           226
Max Temp      226
Humidity      226
Cloudiness    226
Wind Speed    226
dtype: int64

In [80]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = new_data[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp      Lat       Lng Hotel Name
0                 Avarua      CK     75.25 -21.2078 -159.7750
3                 Calvia      ES     82.42  39.5657    2.5062
5                 Berlin      DE     89.15  52.5244   13.4105
10               Buluang      PH     77.76  13.3068  123.3425
11                 Fukue      JP     80.02  32.6881  128.8419
16                 Kapaa      US     79.12  22.0752 -159.3190
17  Sao Jose Do Belmonte      BR     78.28  -7.8614  -38.7597
19        Saint-Philippe      RE     75.47 -21.3585   55.7679
24          Nova Olimpia      BR     82.92 -14.7972  -57.2881
33              Meulaboh      ID     78.08   4.1363   96.1285

In [81]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [87]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
    
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
3,Calvia,ES,82.42,39.5657,2.5062,Castell Son Claret
5,Berlin,DE,89.15,52.5244,13.4105,Hotel Motel One Berlin-Hackescher Markt
10,Buluang,PH,77.76,13.3068,123.3425,Enon Beach Resort
11,Fukue,JP,80.02,32.6881,128.8419,Goto Guesthouse Utojuku & SA Car Rental
16,Kapaa,US,79.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
17,Sao Jose Do Belmonte,BR,78.28,-7.8614,-38.7597,Pousada Pedra do Reino
19,Saint-Philippe,RE,75.47,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
24,Nova Olimpia,BR,82.92,-14.7972,-57.2881,Motel glamour
33,Meulaboh,ID,78.08,4.1363,96.1285,Kost Pria

In [88]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [89]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [91]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [92]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))